# Build
/build/
/out/
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk
*.log
*.iobj
*.ipdb

# IDE
.vs/
*.user
*.suo
*.vcxproj*
*.sln

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json

# Download artifacts
/downloads/
*.arisa

# Test artifacts
test.txt

# OS
Thumbs.db
Desktop.ini
.DS_Store